---
import { Image } from "astro:assets";
interface Props {
  ruta: string;
  title: string;
  body: string;
  src: ImageMetadata;
}
const { title, body, src, ruta } = Astro.props;
---

<a
  class="group hover:shadow-sm hover:cursor-pointer relative flex w-full place-content-center max-w-[26rem] flex-col rounded-xl bg-clip-border text-slate-700"
  aria-label={title}
  href={ruta}
>
  <!-- Imagen-->
  <div
    class="relative mx-4 mt-4 overflow-hidden text-white bg-blue-slate-500 bg-clip-border shadow-blue-slate-500/40 rounded-xl"
  >
    <Image
      src={src}
      alt={"Jerez Ayuntamiento"}
      loading={"eager"}
      class="transition-all shadow-2xl ease-in group-hover:scale-110 rounded-xl aspect-square"

    />
    <div
      class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60"
    >
    </div>
  </div>
  <div class="p-6">
    <div class="flex items-center justify-center mb-3">
      <h5 class="text-xl text-center font-extrabold text-subTitle">
        {title}
      </h5>
    </div>
    <p
      class="block font-sans text-center text-base antialiased font-light leading-relaxed text-textColor"
    >
      {body}
    </p>
  </div>
</a>
