---
import { Image } from "astro:assets";
import logo from "@assets/jerez-logo-blanco.webp";
import logoeu from "@assets/unioneu.webp";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import { getI18N } from "@i18n/index";
const { body, title, footerSection } = i18n.Main;
---

<section
  class="px-4 py-2 w-fit lg:w-1/2 flex flex-col place-content-center items-center text-center md:text-left md:place-content-start"
>
  <div class="flex flex-col lg:flex-row items-start mb-8 justify-between gap-4">
    <div>
      <h1 class="text-3xl text-white font-extrabold mb-4">
        {title}
      </h1>
      <p class="text-white text-xl text-pretty">
        {body}
      </p>
    </div>
  </div>

  <div
    class="flex items-center justify-center lg:justify-between gap-4 px-4 lg:px-0"
  >
    <div class="flex items-center gap-4 flex-col md:flex-row">
      <Image
        alt="Logo del Ayuntamiento de Jerez"
        src={logo}
        class="w-1/6"
        loading={"eager"}
      />
      <div class="text-white">
        <div>
          <span class="text-xs font-bold">
            {footerSection.title}
          </span>
          <span class="text-xs">
            {footerSection.body}
          </span>
          <span class="text-xs">
            {footerSection.quote}
          </span>
        </div>
      </div>
    </div>
    <Image
      alt="Logo de la Unión Europea"
      src={logoeu}
      class="w-1/6 hidden lg:block"
      loading={"eager"}
    />
  </div>
</section>
